<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <% include partials/menu %>
    <div class="container-fluid bg-3 text-center">
      <br>
      <h3>
        <%= page %>
      </h3>
      <br>

      <!-- 
          struct diaryEntry {
          uint256 id;
          uint256 date;
          string title;
          string content;
          uint256 score;
          address user_address;
      } -->

      <% for(var i=0; i < entries.length; i++) { %>
         <b><%= entries[i][2] %></b> (<%= moment.unix(entries[i][1]).format('MMMM Do, YYYY h:mm A') %>)
            <form action="/edit" method="get">
              <input type="hidden" name="entry_id" value="<%= entries[i][0] %>">
              <input type="hidden" name="entry_title" value="<%= encodeURIComponent(entries[i][2]) %>">
              <input type="hidden" name="entry_content" value="<%= encodeURIComponent(entries[i][3]) %>">
              <input type="hidden" name="entry_score" value="<%= encodeURIComponent(entries[i][4]) %>">
              <input type="hidden" name="currentAddress" id="address">
              <button type="submit">Edit Entry</button>
            </form>
            <br>
            <% } %>
    </div>
</body>
<% include partials/scripts %>
  <script>
    var ethKey = null;
    (async function () {
      ethKey = await window.ethereum.request({ method: 'eth_requestAccounts' });
      console.log(ethKey);
      document.getElementById("address").value = ethKey[0];
    })()
  </script>

</html>